body {
  margin: 0;
  background-color: #7C90F9;
  font-family: 'Orbitron', 'MS ゴシック';
}
header img {
  width: 80px;
  position: fixed;
  top: 20px;
  left: 40px;
}
.Score__Log {
  margin-bottom: 60px;
}
.container h1 {
  text-align: center;
  font-weight: 200;
  font-size: 3rem;
  color: white;
}
.ranking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 800px;
  width: calc(100vw - 60px);
  height: 88px;
  background-color: #545895;
  border-radius: 5px;
  color: white;
  margin:  0 auto 25px auto;
}
.ranking-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20%;
}
.ranking-left i {
  font-size: 25px;
  position: relative;
  left: 20px;
  bottom: 3px;
  width: 45%;
}
.ranking-left p {
  font-size: 36px;
}
.ranking-center {
  width: 50%
}
.ranking-center h2 {
  font-weight: 200;
  font-size: 45px;
}
.ranking-right {
  width: 20%;
}
.ranking-right p {
  font-size: 30px;
}
