body {
  background-color: #ACC3FF;
  overflow: hidden;
}

input {
  font-size: 1.2rem;
  width: 250px;
  padding: 13px 0;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  text-align: center;
}

.container {
  position: relative;
  overflow: hidden;
}

.top-container {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  &__ttl {
    font-family: "Orbitron",sans-serif;
    font-size: calc(4rem + 2vw);
    color: white;
  }
  &__name {
    margin: 180px auto 10px auto;
    display: block;
    &::-webkit-input-placeholder {
      font-weight: 300;
      color: #c3c3c3;
    }
    &:-ms-input-placeholder {
      font-weight: 300;
      color: #c3c3c3;
    }
    &::-ms-input-placeholder {
      font-weight: 300;
      color: #c3c3c3;
    }
    &::placeholder {
      font-weight: 300;
      color: #c3c3c3;
    }
  }
  &__submit {
    cursor: pointer;
    color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #545895;
    &:hover {
      background-color: #484b7e;
    }
  }
  &__explain {
    border-radius: 5px;
    margin: 10px auto;
    width: 250px;
    padding: 16.5px 0;
    &__check {
      display: none;
      + .background img {
        display: none;
      }
      &:checked + .background {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        img {
          width: calc(100vw - 30px);
          max-width: 400px;
          display: block;
          margin: calc(50vh - 150px) auto;
        }
      }
    }
  }
}

.background-grid {
  margin-top: -5vw;
  margin-left: calc(50vw - 49.5vw - 15px); /* 中央に配置する為の調整 */
  width: calc(99vw + 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  &__item {
    margin: 10px;
    border-radius: 10px;
    background-color: #7C90F9;
    width: 33vw;
    height: 33vw;
  }
}
#black-cover {
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
    font-size: 80px;
    font-family: 'Orbitron', 'MS ゴシック';
  }
}

.twitter-share{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background-color: white;
  img {
    margin: 20px 0 10px -5px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width:599px) {
  .top-container {
    top: 100px;
    &__ttl {
      font-size: 3rem;
    }
  }
}
