doctype html
html(lang="ja")
  head
    // Meta tag
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // Title
    title shootlix.io
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    link(rel="stylesheet" href="../css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/npm/phina.js@0.2.2/build/phina.min.js")
    script(src="https://code.jquery.com/jquery-3.3.1.js")
    script(src="../js/script.js")
  body
    form(action="/" method="post" id="hidden_form")
      input(type="hidden" id="hidden_name" name="name" value=`${name}`)
