<!--後にpugにコンパイル-->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ranking</title>
  <!--後にパスを変更-->
  <link rel="stylesheet" href="../public/css/ranking.css">
</head>
<body>
  <h1>Ranking</h1>
  <div>
    <p>rank</p>
    <p>name</p>
    <p>score</p>
    <p>date</p>
  </div>
  <!--ここからはpugのeach...in...で複数作れるので一個の要素分作っていただければ大丈夫です
      もしくは僕が書く-->
  <div>
    <p>1,</p>
    <p>tenma</p>
    <p>110</p>
    <p>2019/03/01</p>
  </div>
</body>
</html>