body{background-color:#41404B;overflow:hidden}input{font-size:1.2rem;width:250px;padding:13px 0;border-radius:10px;appearance:none;border:none;outline:none;text-align:center}.container{position:relative;overflow:hidden}.top-container{position:absolute;top:200px;width:100%;text-align:center}.top-container__ttl{font-family:"Orbitron",sans-serif;font-size:calc(4rem + 2vw);color:white}.top-container__name{margin:120px auto 30px auto;display:block}.top-container__name::placeholder{font-weight:300;color:#c3c3c3}.top-container__submit{cursor:pointer;color:white;transition:0.3s;background-color:#73DAC1}.top-container__submit:hover{background-color:#07e2a3}.background-grid{margin-top:-5vw;margin-left:calc(50vw - 49.5vw - 15px);width:calc(99vw + 60px);display:flex;flex-wrap:wrap}.background-grid__item{margin:10px;border-radius:10px;background-color:rgba(0,0,0,0.2);width:33vw;height:33vw}@media screen and (max-width: 599px){.top-container{top:100px}.top-container__ttl{font-size:3rem}}
h2 {
  color: white;
  font-family: 'Orbitron', 'MS ゴシック';
  opacity: 0.8;
  position: relative;
    top: 90px;
  font-size: 20px;
}
#black-cover {
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}
#black-cover h1 {
  font-size: 80px;
  color: white;
  font-family: 'Orbitron', 'MS ゴシック';
}